.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color:#ddd;
    font-family: 'Patua One', cursive;
  
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .h1
{
  font-family: 'Patua One', cursive;
  color: black;
  text-align: left;
}

h3
{
  font-family: 'Patua One', cursive;
  color: black;
  margin-left: 5%;
}

canvas
{
  width: 101%;
  
}
body
{
    background-color:#ffc107;
}

#tablica
{
  font-family: 'Patua One', cursive;
  width: 90%;
}