body
{
    background-color:#ffc107;
    font-family: 'Patua One', cursive;
}
td
{    
    font-family: 'Patua One', cursive;
}
#tablica
{
    width: 90%;
}
#podaci
{
    font-family: 'Patua One', cursive;
}