<body>
    <div class="h1">
        <a [routerLink]="['/menu']">
          <button class="btn btn-dark" style="margin-left:30px;margin-right: 30px"><i class="fa fa-arrow-left"></i></button>
        </a>
        &nbsp;&nbsp;Slike &nbsp;
    </div>
    <hr>
<div class="tab" align="center">
  <button style="margin-left: 23%" class="tablinks" id="lblPoVrsti" (click)="openTab('vrsta')">Po vrsti</button>
  <button  class="tablinks" id="lblPoMjesecu" (click)="openTab('mjesec')">Po mjesecu</button>
</div>
<div id="vrsta" class="tabcontent">
    <h3>Slike po vrsti</h3>
    <div align="center">
      <table class="table table-striped" id="tablica">
        <tr>
          <th>Ukupno slika</th>
          <td>{{sCanBas+sCanAdv+sKay+sHik+sCyc+sRCli+" kn"}}</td>
        </tr>
        <tr>
          <th>Canyoning (basic)</th>
          <td>{{sCanBas+" kn"}}</td>
        </tr>
        <tr>
          <th>Kayaking</th>
          <td>{{sKay+" kn"}}</td>
        </tr>
        <tr>
          <th>Hiking</th>
          <td>{{sHik+" kn"}}</td>
        </tr>
        <tr>
          <th>Cycling</th>
          <td>{{sCyc+" kn"}}</td>
        </tr>
        <tr>
          <th>Canyoning (advanced)</th>
          <td>{{sCanAdv+" kn"}}</td>
        </tr>
        <tr>
          <th>Rock climbing</th>
          <td>{{sRCli+" kn"}}</td>
        </tr>
      </table>
    </div>
    <hr>
    <h3>Graficki prikaz</h3>
    <div id="grafVrsta">
      <canvas id="pieChart" align="center"></canvas>
    </div>
  </div>
          
  <div id="mjesec" class="tabcontent">
    <h3>Slike po mjesecu</h3>
    <div align="center">
      <table class="table table-striped" id="tablica">
        <tr>
          <th>Ukupno slika</th>
          <td>{{sCanBas+sCanAdv+sKay+sHik+sCyc+sRCli+" kn"}}</td>
        </tr>
        <tr>
          <th>Ozujak</th>
          <td>{{podaciPoMjesecima[0]+" kn"}}</td>
        </tr>
        <tr>
          <th>Travanj</th>
          <td>{{podaciPoMjesecima[1]+" kn"}}</td>
        </tr>
        <tr>
          <th>Svibanj</th>
          <td>{{podaciPoMjesecima[2]+" kn"}}</td>
        </tr>
        <tr>
          <th>Lipanj</th>
          <td>{{podaciPoMjesecima[3]+" kn"}}</td>
        </tr>
        <tr>
          <th>Srpanj</th>
          <td>{{podaciPoMjesecima[4]+" kn"}}</td>
        </tr>
        <tr>
          <th>Kolovoz</th>
          <td>{{podaciPoMjesecima[5]+" kn"}}</td>
        </tr>
        <tr>
          <th>Rujan</th>
          <td>{{podaciPoMjesecima[6]+" kn"}}</td>
        </tr>
        <tr>
          <th>Listopad</th>
          <td>{{podaciPoMjesecima[7]+" kn"}}</td>
        </tr>
        <tr>
          <th>Studeni</th>
          <td>{{podaciPoMjesecima[8]+" kn"}}</td>
        </tr>
      </table>    
    </div>
    <hr>
      <h3>Graficki prikaz</h3>
      <div id="grafMjesec">
          <canvas id="lineChart" align="center"></canvas>
      </div>
  </div>  
</body>